extends base

block content
    .main
        .main-about
            .about-image
                img(src='./images/about-image.webp')
            .about-text
                p Welcome to Excessive, your online destination for exquisite and affordable jewelry. Whether you are looking for a meaningful gift, or a treat for yourself, we have something for everyone.

                p We are passionate about jewelry and we want to share that passion with you. We believe that jewelry is more than just an accessory; it’s a way of expressing your personality, your style, and your emotions. That’s why we carefully select each piece of jewelry we offer, ensuring that it meets our high standards of quality, craftsmanship, and design.

                p We also believe that jewelry should be accessible to everyone, regardless of their budget. That’s why we work directly with trusted suppliers and manufacturers, cutting out the middlemen and passing on the savings to you. You’ll find that our prices are unbeatable, without compromising on quality or service.

                p Our mission is to make you happy with your purchase and to provide you with a smooth and enjoyable shopping experience. That's why we build this modern online platform, through which we offer fast and free shipping on all orders, a hassle-free return policy, and a friendly customer support team that is always ready to help.

                p Thank you for choosing Excessive as your jewelry partner. We hope you’ll love our jewelry as much as we do. If you have any questions or feedback, please don’t hesitate to 
                    a(href="/contact") contact us
                    | . We’d love to hear from you.

                p Excessive Team