doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content=`${description}`)
    link(rel='stylesheet', href='/css/main.css')
    //- link(rel='stylesheet', href='/css/index.css')
    //- link(rel='stylesheet', href='/css/products.css')
    script(src='https://kit.fontawesome.com/5d700e72a6.js', crossorigin='anonymous')
    //- link(rel='preconnect', href='https://fonts.googleapis.com')
    //- link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    //- link(href='https://fonts.googleapis.com/css2?family=Varela+Round&display=swap', rel='stylesheet')
    //- link(href='https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap', rel='stylesheet')
    //- link(href='https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap', rel='stylesheet')
    //- link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap', rel='stylesheet')

    title #{title}
  body
    #root-div
      
      // notification bar
      //.notification
        | This is notification placeholder!
        i#notification-close.fa-solid.fa-xmark.notification-close
      
      // header element
      include header

      //main content
      block content

      

      // footer section
      include footer
        
  script(type='module', src='/js/index.js')