footer
  #newsletter
    #subscribe
      h2.newsletter Subscribe to the newsletter
      #subscribe-details
        input(type='email', placeholder='email address' id='newsletter-input')
        button#newsletter-subscribe Subscribe
    //- #subscribe-infographic
    //-   img(src='/images/newsletter3.svg', alt='')
  #signature
    #copyrights
      | Copyright ⓒ 2023 Excessive. All rights reserved.
    #developed
      p Design and development
      a(href='https://www.webdynamics.dev')
        img(src='/images/webdynamics.svg', alt='WebDynamics logo')
    #social
      a#instagram(href='')
        i.fa-brands.fa-square-instagram
      a#facebook(href='')
        i.fa-brands.fa-square-facebook



//- footer.footer
//-     h2.newsletter Subscribe to the newsletter
//-     .newsletter
//-         input(type='text', placeholder='email address')
//-         button#testing(type='submit') Submit
//-     .signature
//-     |Copyright ⓒ 2022 Pinche Putana. All rights reserved.
//-     br
//-     |Pinche and Putana are registered trademarks of Fat Bitch.