extends base

block content
    .main
        .order-fail
            h1.error 
                i.fa-solid.fa-triangle-exclamation
                |  Something went wrong with your order! 
            //- p Your order id is 
            //-     span#order-id #{orderId}
            //-     |, please save this number for your reference.
            p Contact us immediately at to investigate and resolve the issue!