extends base

block content

    .reset-password-fields 
        h3 Submit new password for your account
        label(for='password') Enter new password
        input(type='password' name='password' id='password', required, minlength='8')
        label(for='confirm-password') Confirm new password
        input(type='password' name='confirm-password' id='confirm-password', required, minlength='8')

        button(id='submit-new-password') Submit new password

    script(type='module', src='/js/resetpassword.js')