<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jewelry House | Register</title>
    <link rel="stylesheet" href="../../../public/css/main.css" />
    <script
      src="https://kit.fontawesome.com/5d700e72a6.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"
    rel="stylesheet"
  </head>
  <body>
    <div class="signup-main">
      <div class="signup">
        <label for=""></label>
        <input type="email" name="" id="" />
      </div>
    </div>
  </body>
</html>
